@import url(https://fonts.googleapis.com/css?family=Concert+One|Roboto+Slab|Open+Sans:400italic,700italic,400,700);
@import '~vue-context/dist/css/vue-context.css';
@import '~vue-cool-select/dist/themes/bootstrap.css';


$font-stack: 'Roboto Slab', serif;

.personal 
{
background: rgb(212, 211, 211);

}

html * {
  font-family: 'Arial', sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
}
.bodyDynacert{
  position: absolute;
  top: 0px;
  left:0px;
	background-color: rgb(68, 66, 66);
	padding: 0;
	margin: 0;
	height: 100vh;
	width:100vw;
	display:flex;
	align-items: center;
	justify-content: center;
  opacity: 0.9;
  z-index:99;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

@include placeholder {
  text-transform: uppercase;
  font-size: 10px!important;
}

table {
  border-collapse: collapse;
  border-radius: 5px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 1px #ced4da; /* this draws the table border  */ 
}

#table, th {
  text-transform: uppercase;
  text-align: center;
}
#select {
  font-size: 10px!important;
}

 #wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}


#sidebar-wrapper .sidebar-heading {
    padding: 0rem 0rem;
    font: 'Arial Bold', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    margin-top:25px;
    margin-bottom:28px;
}

#btn {
    padding: 7px 12px!important;
    font-size: 10px!important;
    border-radius: 7px;
    text-transform: uppercase!important;
}
#btn-group-sm>.btn, .btn-sm  {
    padding: 5px 10px!important;
    font-size: 10px!important;
    border-radius: 5px;
    text-transform: uppercase!important;
}


#sidebar-wrapper .list-group {
  width: 12rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -10rem;
  }
}

