@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
@import '~vue-context/dist/css/vue-context.css';

$font-stack: 'Roboto Slab', serif;

.personal 
{
background: rgb(212, 211, 211);

}

.menuButton {
    width: 40px;
    height: 40px;
    background-color: #343a40;
    border-color: #343a40;
    
}
.b-sidebar {
    width: 250px !important;
}
.header-sidebar-title {
    margin-left: 20px;
    font-size: 2.0rem;
    color:whitesmoke;
}
.b-sidebar-outer {
    background-color: #4d657e !important
}
.testo {
    text-align:left;
}
.testo-centrale {
    text-align:center;
}
.footer {
        background-color: #f5f5f5;
        text-align: -webkit-center;
        font-size: 0.8rem;
        position:fixed;
        width: 100%;
        bottom:0px;
}
.footer-cookie {
        color: black;
        background-color: #e7eca2;
        text-align: -webkit-center;
        font-size: 0.8rem;
        position:fixed;
        width: 100%;
        top:0px;
        opacity: 0.8;
        
}
.accepted-footera {
  float:right
}
#wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -45rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 10rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}



@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

@media only screen and (max-width: 600px) {
  #sidebar-wrapper {
    display: none;
  }
  #mycert-footer {
    display: none;
  }
  .menuButton {
    display: none;
  }
}

